.main { 
	position: relative;
	padding: 8px 0 0;
	margin: 0;
	@media #{$lg} {
		padding: 0;
		margin: 40px 0 0;
	}
	&:before {
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		background-color: $grey;
		position: absolute;
		z-index: -1;
		@media #{$md} {
			height: 64px;	
		}
		@media #{$lg} {
			display: none;
		}
	}
}

.page-wrapper {
	max-width: 100%;
	@media #{$lg} {
		display: flex;
		flext-direction: row;
		align-items: flex-start;
	}
	@media #{$xl} {
		max-width: 1024px;
	}
}

.main-content {
	margin: 32px 0 0;
	width: 100%;
	@media #{$lg} {
		margin: 0;
	}
	@media #{$xl} {
		width: calc(1024px - 30px - 260px - 24px);
	}
}

.pagination-block {
	margin: 0 auto 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.pagination-col {
		margin: 0 24px 0 0;
		&:last-child {
			margin-right: 0;
		}
		a {
			font-size: 14px;
			@extend .ci-text;
			@media #{$sm} {
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}

.entry-title {
	font-size: 20px;
	margin: 0 0 12px;
	@media #{$md} {
		font-size: 28px;
	}
}

.entry-meta {
	margin: 0 0 32px;
	display: block;
	line-height: 1.5;
	font-size: 12px;
	font-weight: normal;
	@media #{$md} {
		font-size: 14px;
	}
}

.entry-content {
	margin: 0 0 48px;
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
		line-height: 1.5;
		margin: 32px auto 8px;
	}
	p {
		font-size: 16px;
		line-height: 1.6;
		margin: 0 0 16px;
		strong {
			@extend .ci-text;
		}
	}
	ul, ol {
		font-size: 16px;
		padding: 0 0 0 32px;
		li {
			margin: 0 0 4px;
		}
	}
	figure {
		max-width: 100%;
		&.aligncenter {
			display: block;
			margin: auto;
		}
		&.alignleft {
			@media #{$md} {
				margin: 4px 24px 4px 0;
				float: left;
			}
		}
		&.alignright {
			@media #{$md} {
				float: right;
				margin: 4px 0 4px 24px;
			}
		}
		&.gallery-item {
			@media #{$md} {
				flex: 0 0 32%;
				margin: 0 2% 0 0;
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
		figcaption {
			display: block;
			margin: 8px 0;
			font-size: 12px;
			color: $coal;
			padding: 2px 0 2px 12px;
			border-left: 2px solid $coal;
		}
	}
	img {
		max-width: 100%;
		height: auto;
		margin-top: 8px;
		margin-bottom: 8px;
		&.aligncenter {
			display: block;
			margin: auto;
		}
		&.alignleft {
			@media #{$md} {
				margin: 8px 24px 8px 0;
				float: left;
			}
		}
		&.alignright {
			@media #{$md} {
				float: right;
				margin: 8px 0 8px 24px;
			}
		}
	}
	iframe,
	embed {
		display: block;
	}
	code {
		background-color: lighten($grey, 2%);
		padding: 2px 8px 3px;
		position: relative;
		top: -1px;
	}
	blockquote {
		@extend .ci-text;
		margin: 24px auto;
		font-size: 16px;
		padding: 8px 0 4px 16px;
		border-left: 3px solid $coal;
		@media #{$md} {
			font-size: 18px;
		}
		p {
			font-size: 16px;
			color: $coal;
			margin: 0;
			@media #{$md} {
				font-size: 18px;
			}
		}
	}
	pre {
		background-color: #2b3e50;
		tab-size: 2;
		font-size: 14px;
		color: #32de7e;
		padding: 10px 15px;
		border-radius: 0;
		overflow: auto;
		white-space: pre-wrap;
	}
	.gallery {
		@media #{$md} {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
		}
	}
}

body.single-format-quote {
	.entry-content {
		background-color: $white;
		padding: 32px;
		margin: 64px 0;
		text-align: center;
		position: relative;
		@media #{$lg} {
			padding: 48px;
		}
		&:before {
			position: absolute;
			content: " “ ";
			font-family: serif;
			font-size: 128px;
			color: $coal;
			top: -24px;
			left: 0;
			line-height: 1;
		}
		&:after {
			position: absolute;
			content: " ” ";
			font-family: serif;
			font-size: 128px;
			color: $coal;
			bottom: -64px;
			line-height: 1;
			right: 0;
		}
		p {
			@extend .ci-text;
			font-size: 32px;
			line-height: 1.8;
			font-weight: normal;
			color: $coal;
			max-width: 90%;
			margin: auto;
			&:last-child {
				margin: 0 auto;
			}
		}
	}
}
