.post-listing {
	padding: 0;
	margin: 0;
	list-style: none;
	.post-item {
		width: 100%;
		margin: 0 0 32px 0;
		@media #{$sm} {
			margin: 0 0 24px 0;
		}
		figure {
			@media #{$sm} {
				display: flex;
				align-items: center;
				flex-direction: row;
			}
			.cover-wrapper {
				display: block;
				margin: 0 0 16px 0;
				@media #{$sm} {
					margin: 0;
				}
				img {
					max-width: 100%;
					height: auto;
					@media #{$sm} {
						max-width: 292px;
						margin: 0 16px 0 0;
					}
				}
				&:hover {
					opacity: 0.9;
				}
			}
			figcaption {
				.post-title {
					font-weight: bold;
					line-height: 1.4;
					margin: 0 0 4px;
					font-size: 16px;
					@media #{$sm} {
						font-size: 20px;
					}
				}
				.post-desc {
					font-size: 14px;
					color: $black;
					@media #{$sm} {
						font-size: 16px;
					}
				}
			}
		}
	}	
}
